.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#codeatom{
    position: relative;
}

#clipboard {
    padding: 5px 8px;
    bottom: 5px;
    left: 5px;
    position: absolute;
    cursor: pointer;
    border-radius: 0px;
    font-size: 12px;
}

